/* popup */
#top {
    position:fixed; right:50px; bottom:50px;
    width:34px; height:34px;
}
#top img {width:100%}
/* all layout */
header, 
main #visual, 
main #main_service, 
main .bnr_bg .bnr,
main #board,
main #field_info,
main #news,
footer
{
    width:1152px; margin:0 auto;
}
/* header-h top */
header {
    /* background-color:darkkhaki; */

}
header #h_top {
    /* background-color:darksalmon; */
    overflow:hidden;
    padding-bottom:10px;
}
header #h_top .left {
    /* background-color:rgb(243, 223, 44); */
    float:left;
}
header #h_top .left h1 {
    float:left;
    width:110px; height:28px;
    margin-top:10px;
}
header #h_top .left h1 a {}
header #h_top .left h1 a img {width:100%}
header #h_top .left nav {
    /* background-color:palevioletred; */
    float:left;
}
header #h_top .left nav ul {
}
header #h_top .left nav ul li {
    display:inline;
    margin-left:20px;
}
header #h_top .left nav ul li:last-child {}
header #h_top .left nav ul li a {
    line-height:48px;
    letter-spacing:-0.02em;
    font-weight:500;
}
header #h_top .right {
    /* background-color:plum; */
    float:right;
    margin-top:18px;
}
header #h_top .right li {
    display:inline;
    margin-right:20px;
}
header #h_top .right li:last-child {margin-right:0;}
header #h_top .right li a {
    letter-spacing:-0.02em; font-weight:500;
}
/* h-top end */
/* header-h btm */
header #h_btm {
    /* background-color:aqua; */
    overflow:hidden;
    height:119px;
}
header #h_btm h1 {
    float:left;
    margin-top:45.5px;
    width:150px; height:28px;
}
header #h_btm h1 a {}
header #h_btm h1 a img {width:100%;}
header #h_btm #search_frm {
    /* background-color:blueviolet; */
    float:left;
    margin:36.5px 0 0 231px;
}
header #h_btm #search_frm fieldset {
    border:3px solid #1E6CB3;
    width:368px; height:46px;
    padding:10px 20px 0;
}
header #h_btm #search_frm fieldset legend {display:none;}
header #h_btm #search_frm fieldset input {
    float:left;
    width:calc(100% - 20px);
}
header #h_btm #search_frm fieldset input::placeholder {
    letter-spacing:-0.02em; color:#1E6CB3;
}
header #h_btm #search_frm fieldset #search_btn {
    background:none;
    width:20px; height:20px;
    border:none;
    float:right;
    cursor:pointer;
}
header #h_btm #search_frm fieldset #search_btn img {width:100%}
header #h_btm .right {
    /* background-color: greenyellow; */
    float:right;
    margin-top:16.5px;
    text-align:right;
}
header #h_btm .right #langfrm {
    margin-bottom:10px;
}
header #h_btm .right #langfrm fieldset {
    border:none;
}
header #h_btm .right #langfrm fieldset legend {
    display:none;
}
header #h_btm .right #langfrm fieldset select {
    border:1px solid #1E6CB3;
    font-size:0.813rem; letter-spacing:-0.02em;
    width:93px; padding:3px 0;
}
header #h_btm .right #langfrm fieldset select option {
}
header #h_btm .right #langfrm fieldset #lang_btn {
    width:30px; height:29px;
    background-color:#1E6CB3;
    color:#fff;
    border:none;
    cursor:pointer;
}
header #h_btm .right .weather {}
header #h_btm .right .weather .current_weather {
    margin-bottom:5px;
    text-align:left;
}
header #h_btm .right .weather .current_weather em {
    font-size:2.063rem; font-weight:500;
    letter-spacing:-0.02em;
}
header #h_btm .right .weather .current_dust {
    letter-spacing:-0.02em; font-size:0.833rem;
}
/* main */
main {}
/* main-1 광고배너 */
main #visual {
    /* background-color:cornflowerblue; */
    overflow:hidden;
}
main #visual .left {
    /* background-color:azure; */
    position:relative;/* 겹치는 대상 부모기준 */
    width:770px; height:350px;
    float:left;
}
main #visual .left img {}
main #visual .left .close {
    background-color:#1E6CB3;
    padding:5px 10px;
    border:none; border-radius:5px;
    color:#fff;
    position:absolute; /* 겸치는 대상 */
    right:10px; bottom:10px;
}
main #visual .right {
    /* background-color:bisque; */
    float:right;
    
}
main #visual .right .covid {
    width:360px; height:230px;
    display:block;
    position:relative;
}
main #visual .right .covid span {
    /* background-color:aqua; */
    position:absolute;
    color:#fff;
}
main #visual .right .covid .data {
    top:22px; right:37px;
    color:#000;
}
main #visual .right .covid .data {}
main #visual .right .covid .data1 {top:84px; left:82px;}
main #visual .right .covid .data2 {top:84px; right:84px;}
main #visual .right .covid .data3 {bottom:57px; left:60px;}
main #visual .right .covid .data4 {bottom:57px; right:161px; }
main #visual .right .covid .data5 {bottom:57px; right:52px;}
main #visual .right .covid img {width:100%;}
main #visual .right .traffic {
    width:360px; height:110px;
    display:block;
    margin-top:10px;
}
main #visual .right .traffic img {width:100%;}
/* 주요서비스 ~ 새소식 제목 디자인 그룹 */
/* 정리후 */
main section .title {
    /* background-color:rgb(245, 219, 233); */
    padding:50px 0 10px;
    border-bottom:1px solid #aaa;
    overflow:hidden;
}
main section .title h2 {
    font-size:1.44rem; font-weight:500; letter-spacing:-0.02em;
    float:left;
}
main section .title .site {
    border:1px solid #ccc;
    padding:10px;
    float:right;
}
main section .title .more {
    float:right;
}
main section .title .more i {font-size:30px;}
/* 정리전 */
/* main #main_service .title {}
main #main_service .title h2 {}
main #main_service .title .site {}
main #board .event .title {}
main #board .event .title h2 {}
main #board .event .title .more {}
main #board .festival .title {}
main #board .festival .title h2 {}
main #board .festival .title .more {}
main #field_info .title {}
main #field_info .title h2 {}
main #news .title {}
main #news .title h2 {} */
/* main-2 주요서비스 */
main #main_service {
    /* background-color:coral; */
}
main #main_service .title {}
main #main_service .title h2 {}
main #main_service .title .site {}
main #main_service .contents{
    overflow:hidden;
    padding:20px;
}
main #main_service .contents a {
    float:left; width:9.09%; /* 100/11 */
    text-align:center;
}
main #main_service .contents a img{}
main #main_service .contents a span{
    font-size:0.833rem; letter-spacing:-0.02em;
    display:block;
}
/* main-3 배너 */
main .bnr_bg {
    background-color:#eff5f8;
    margin:0 auto;
}
main .bnr_bg .bnr {
    overflow:hidden;
    padding:50px 0;
}
main .bnr_bg .bnr a {
    width:33.3%;
    float:left;
}
main .bnr_bg .bnr a  img {}
/* main-4 게시판 */
main #board {
    /* background-color:deepskyblue; */
    overflow:hidden
}
/* board-contents 공통그룹 */
main #board > div {
    width:calc(33.33% - 22px); /* 100/3 -여백 */
    float:left;
}
main .board > div .title {height:90px;}
/* main-4게시판 이벤트신청, 행사축제 공통 내용 */
main #board .event .contents,
main #board .festival .contents {margin-top:17px;}
main #board .event .contents a,
main #board .festival .contents a {
    display:block;
    overflow:hidden;
    margin-bottom:25px;
}
main #board .event .contents a:last-child,
main #board .festival .contents a:last-child {margin-bottom:0;}
main #board .event .contents a span,
main #board .festival .contents a span {}
main #board .event .contents a span:first-child,
main #board .festival .contents a span:first-child {
    margin-right:10px;
    float:left;
}
main #board .event .contents a span:last-child,
main #board .festival .contents a span:last-child {
    white-space:nowrap; /* 줄바꿈되지 않도록 처리하는 속성 */
    text-overflow:ellipsis; /* ...말줄임표시 */
    overflow:hidden; /* 영역 밖의 글자 숨김 처리 */
    /* background-color:white; */
    float:right; width:87%;
}
/* main-4게시판 카테고리 */
main #board div .contents a .administrative {color:#007AFF;}
main #board div .contents a .environment {color:#599100;}
main #board div .contents a .welfare {color:#D76000;}
main #board div .contents a .housing {color:#C35C3C;}
main #board div .contents a .culture {color:#9B64D3;}
main #board div .contents a .economy {color:#9B64D3;}
/* main-4 게시판 개별내용 */
main #board .event {
    /* background-color:gold; */
}
main #board .event .title {}
main #board .event .title h2 {}
main #board .event .title .more {}
main #board .event .title .more img {}
main #board .event .contents {}
main #board .event .contents a {}
main #board .event .contents a span {}
main #board .event .contents a .administrative {}
main #board .event .contents a .environment {}
main #board .event .contents a .welfare {}
main #board .event .contents a .housing {}
main #board .event .contents a .culture {}
main #board .festival {
    /* background-color:lightcoral; */
    margin:0 22px;
}
main #board .festival .title {}
main #board .festival .title h2 {}
main #board .festival .title .more {}
main #board .festival .title .more img {}
main #board .festival .contents {}
main #board .festival .contents a {}
main #board .festival .contents a span {}
main #board .festival .contents a .environment {}
main #board .festival .contents a .economy {}
main #board .festival .contents a .culture {}
main #board .service {width:33.33%;}
main #board .service .title {
    border:0; height:90px;} 
main #board .service .title h2 {}
main #board .service .contents {
    background-color:#EFF4F8;
    overflow:hidden;
    padding:13px;
}
main #board .service .contents a {
    float:left; width:50%; text-align:left;
    margin-bottom:25px;
}
main #board .service .contents a:nth-last-child(2),
main #board .service .contents a:last-child {margin-bottom:0;}
/* main-5 분야정보 */
main #field_info {
    /* background-color:darkorchid; */
}
main #field_info .title {}
main #field_info .title h2 {}
main #field_info .contents {
    text-align:center;
    padding:20px 40px;
    overflow:hidden;
}
main #field_info .contents a {
    width:12.5%; /* 100/8 */
    float:right;
}
main #field_info .contents a img {}
main #field_info .contents a span {
    display:block;
    font-size:0.833rem; letter-spacing:-0.02em;
}
/* main-6 새소식 */
main #news {
    /* background-color:lightblue; */
}
main #news .title {}
main #news .title h2 {}
main #news .title .site {}
main #news .contents {
    overflow:hidden;
    padding:20px 0 40px 0;
}
main #news .contents a {
    width:25%;
    float:left;
    text-align:left;
}
main #news .contents a img {margin-bottom:10px;}
main #news .contents a span {
    display:block;
    letter-spacing:-0.06em; line-height:26px;
    margin-bottom:25px;
    padding-right:20px;
}
/* footer-f top */
footer {
    /* background-color:lightseagreen; */
}
footer .f_top {
    /* background-color:lightyellow; */
    padding-bottom:20px;
    border:1px solid #aaa;
    border-left:0; border-right:0;
    overflow:hidden;
}
footer .f_top .left {
    margin-top:27px;
    float:left;
}
footer .f_top .left a {
    float:left;
    font-size:0.833rem; letter-spacing:-0.02em;
    color:#888;
}
/* left-a 가상선택자(구분선용) */
footer .f_top .left a::after {
    /* 가상선택자의 필수 속성1 */
    content:''; /* 빈문자열 */
    width:1px; height:10px;
    background:#000;
    display:inline-block;
    margin:0 10px;
}
/* 사이트맵 a 마지막 구분선 제거 */
footer .f_top .left a:last-child::after {display:none;}
footer .f_top .left a:nth-child(2) {color:#222;}
footer .f_top .right {float:right;}
footer .f_top .right a {
    float:left; margin-top:20px;
    width:25px; height:25px;
    display:inline-block;
    text-indent:-9999px; /* 화면밖 글자 내보내기 */
    margin-right:5px;
    background:no-repeat;
}
footer .f_top .right a:first-child {
    background-image: url(../image/icon_sns2/icon_set_sns_01.png);
}
footer .f_top .right a:first-child:hover {background-image:url(../image/icon_sns2/icon_set_sns_08.png);}
footer .f_top .right a:nth-child(2) {
    background-image:url(../image/icon_sns2/icon_set_sns_02.png);
}
footer .f_top .right a:nth-child(2):hover {background-image:url(../image/icon_sns2/icon_set_sns_09.png);}
footer .f_top .right a:nth-child(3) {
    background-image:url(../image/icon_sns2/icon_set_sns_03.png);
}
footer .f_top .right a:nth-child(3):hover {background-image:url(../image/icon_sns2/icon_set_sns_10.png);}
footer .f_top .right a:nth-child(4) {
    background-image:url(../image/icon_sns2/icon_set_sns_04.png);
}
footer .f_top .right a:nth-child(4):hover {background-image:url(../image/icon_sns2/icon_set_sns_11.png);}
footer .f_top .right a:nth-child(5) {
    background-image:url(../image/icon_sns2/icon_set_sns_05.png);
}
footer .f_top .right a:nth-child(5):hover {background-image:url(../image/icon_sns2/icon_set_sns_12.png);}
footer .f_top .right a:nth-child(6) {
    background-image:url(../image/icon_sns2/icon_set_sns_06.png);
    margin-right:0;
}
footer .f_top .right a:nth-child(6):hover {background-image:url(../image/icon_sns2/icon_set_sns_12.png);}
/* footer-f btm */
footer .f_btm {
    overflow:hidden;
    padding-bottom:30px;
}
footer .f_btm .left {
    float:left;
    overflow:hidden;
}
footer .f_btm .left p {
    float:left;
    margin-right:30px;
    margin-top:20px;
}
footer .f_btm .left p img {}
footer .f_btm .left address {
    float:right; margin-top:25px;
    line-height:20px; letter-spacing:-0.02em; font-size:0.833rem;
}
footer .f_btm .left address a {
    line-height:20px; letter-spacing:-0.02em; font-size:0.833rem;
}
footer .f_btm .right {float:right; margin-top:20px;}
footer .f_btm .right a {}
footer .f_btm .right a img {}