/* header-h top */
header {background-color:darkkhaki;}
header #h_top {
    background-color:khaki;
    width:1152px; margin:0 auto;
    overflow:hidden;
    padding-bottom:10px;
}
header #h_top .left {
    background-color:rgb(243, 223, 44);
    float:left;
}
header #h_top .left h1 {
    float:left; margin-top:10px; margin-right:28px;}
header #h_top .left h1 a {}
header #h_top .left h1 a img {}
header #h_top .left nav {
    background-color:palevioletred;
    float:left;
}
header #h_top .left nav ul {
    margin-top:18px;
}
header #h_top .left nav ul li {
    display:inline;
    margin-right:10px;
}
header #h_top .left nav ul li:last-child {margin-right:0;}
header #h_top .left nav ul li a {}
header #h_top .right {
    background-color:plum;
    float:right;
    font-weight:500;
    margin-top:18px;
}
header #h_top .right li {
    display:inline;
    margin-left:15px;
}
header #h_top .right li:nth-child(1) {margin-left:0;}
header #h_top .right li a {}
/* h-top end */
/* header-h btm */
header #h_btm {
    width:1152px; height:119px; margin:0 auto;
    overflow:hidden;
}
header #h_btm h1 {
    float:left; margin-top:45.5px;}
header #h_btm h1 a {}
header #h_btm h1 a img {}
header #h_btm #search_frm {
    background-color:blueviolet;
    float:left;
    margin:36.5px 0 0 231px;
}
header #h_btm #search_frm fieldset {}
header #h_btm #search_frm fieldset legend {}
header #h_btm #search_frm fieldset input {background-color:purple;}
header #h_btm #search_frm fieldset #search_btn {background-color:none;}
header #h_btm #search_frm fieldset #search_btn img {}
header #h_btm .right {
    background-color: greenyellow;
    float:right;
    margin-top:16.5px;
}
header #h_btm .right #langfrm {
    margin-bottom:10px
}
header #h_btm .right #langfrm fieldset {}
header #h_btm .right #langfrm fieldset legend {}
header #h_btm .right #langfrm fieldset select {
    border-color:#1E6CB3;
    font-size:0.833rem; letter-spacing:-0.02em;
}
header #h_btm .right #langfrm fieldset select option {
}
header #h_btm .right #langfrm fieldset #lang_btn {
    font-size:0.833rem; 
    width:29px; height:26px;
    background-color:#1E6CB3; color:#fff;
    border:none;
}
header #h_btm .right .weather {}
header #h_btm .right .weather .current_weather {margin-bottom:5px;}
header #h_btm .right .weather .current_weather em {
    font-size:1.728rem; font-weight:500; letter-spacing:-0.02em;
}
header #h_btm .right .weather .current_dust {
    font-size:0.833rem;
}
/* main */
main {}
/* main-1 광고배너 */
main #visual {}
main #visual .left {}
main #visual .left img {}
main #visual .left .close {}
main #visual .right {}
main #visual .right .covid {}
main #visual .right .covid .data {}
main #visual .right .covid .data {}
main #visual .right .covid .data1 {}
main #visual .right .covid .data2 {}
main #visual .right .covid .data3 {}
main #visual .right .covid .data4 {}
main #visual .right .covid .data5 {}
main #visual .right .covid img {}
main #visual .right .traffic {}
main #visual .right .traffic img {}
/* main-2 주요서비스 */
main #main_service {}
main #main_service .title {}
main #main_service .title h2 {}
main #main_service .title .site {}
main #main_service .contents{}
main #main_service .contents a{}
main #main_service .contents a img{}
main #main_service .contents a span{}
/* main-3 배너 */
main .bnr_bg {}
main .bnr_bg .bnr {}
main .bnr_bg .bnr a {}
main .bnr_bg .bnr a  img {}
/* main-4 게시판 */
main #board {}
main #board .event {}
main #board .event .title {}
main #board .event .title h2 {}
main #board .event .title h2 .more {}
main #board .event .title h2 .more img {}
main #board .event .contetns {}
main #board .event .contetns a {}
main #board .event .contetns a span {}
main #board .event .contetns a .administrative {}
main #board .event .contetns a .environment {}
main #board .event .contetns a .welfare {}
main #board .event .contetns a .housing {}
main #board .event .contetns a .culture {}
main #board .festival {}
main #board .festival .title {}
main #board .festival .title h2 {}
main #board .festival .title .more {}
main #board .festival .title .more img {}
main #board .festival .title .contets {}
main #board .festival .title .contets a {}
main #board .festival .title .contets a span {}
main #board .festival .title .contets a .environment {}
main #board .festival .title .contets a .economy {}
main #board .festival .title .contets a .culture {}
main #board .service {}
main #board .service .title {}
main #board .service .title h2 {}
main #board .service .contents {}
main #board .service .contents a {}
/* main-5 분야정보 */
main #field_info {}
main #field_info .title {}
main #field_info .title h2 {}
main #field_info .contents {}
main #field_info .contents a {}
main #field_info .contents a img {}
main #field_info .contents a span {}
/* main-6 새소식 */
main #news {}
main #news .title {}
main #news .title h2 {}
main #news .contents {}
main #news .contents a {}
main #news .contents a img {}
main #news .contents a span {}
/* footer-f top */
footer
footer .f_top {}
footer .f_top .left {}
footer .f_top .left a {}
footer .f_top .left a em {}
footer .f_top .right {}
footer .f_top .right a {}
/* footer-f btm */
footer .f_btm {}
footer .f_btm .left {}
footer .f_btm .left p {}
footer .f_btm .left p img {}
footer .f_btm .left address {}
footer .f_btm .left address a {}
footer .f_btm .right {}
footer .f_btm .right a {}
footer .f_btm .right a img {}